
/*lembrar de melhorar todo o conteudo do bodyyyyyyyyyyyyy*/

html {
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif, Arial;
}

body {
    margin: 0 auto;
    background-color: #CCCCCC;



}

#logo{

    width: 20%;
    height: 20%;
    border-radius: 50px;
    box-shadow: 5px 5px 10px purple;
   

   
}

.container-up {

    display: flex;
    align-items: left;
    text-align: center;
    

}

