

/*posição do elemento da caixa do chat*/
.chat-bar-collapsible {
    position: fixed;
    bottom: 0;
    /*lembrar de ver qual posição fica melhor R: 10px; ou R: 30px;*/
    right: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/*faz com o que o chat apareça interagivel para o usuário como se fosse um botão*/
.collapsible {
    background-color: #8a4a88;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 350px;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 10px 10px 0px 0px;
    border: 3px solid white;
    border-bottom: none;
}

/*todo os elementos dentro do botão .collapsible
coloquei o max-height 0 para poder interagir com a classe de .collapsible p/ qnd o usuário clica ele expande e interaja com o full-chat-block para fazer a imersão de hidden para show
*/
.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

/*contém todos os elementos de dentro do chat e faz uma interação com o .content*/
.full-chat-block {
    width: 350px;
    background: white;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    transition: max-height 0.1s ease-out;
}

/*aqui eu defino a altura minima do chatbot*/
.outer-container {
    min-height: 500px;
    bottom: 0%;
    position: relative;
}


/*aqui eu defino a altura máxima do chatbot p não bugar e crescer exponencialmente conforme a qtd de msg*/
.chat-container {
    max-height: 500px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
}

/*classe só para esconder o scroll qnd não precisa ----- PS comentei pois não foi necessário
.chat-container::-webkit-scrollbar {
    display: none;
}
*/

/*bloco total do input onde tem o botão + textUserMsg (outter-container)*-----lembrar de achar uma cor bonita pra colocar*/
.chat-bar-input-block {
    display: flex;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 10px;
}

/*botão do chat*/
.chat-bar-icons {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 25%;
    float: right;
    font-size: 20px;
}

/*altera a opacidade qnd o user passa o mouse por cima do elemento do botão*/
#chat-icon:hover {
    opacity: .7;
}

/*caixa de texto, defini como 25% o botão e a caixa 75%*/

#userInput {
    width: 75%;
}

.input-box {
    float: left;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: white;
    outline: none
}

.userText {
    color: black;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;
}

.userText span {
    line-height: 1.5em;
    display: inline-block;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: floatup .1s forwards
}

.botText {
    color: #8a4a88;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}

.botText span {
    line-height: 1.5em;
    display: inline-block;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .1s forwards
}

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width:600px) {
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
    }
    .chat-bar-collapsible {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .collapsible {
        width: 100%;
        border: 0px;
        border-top: 3px solid white;
        border-radius: 0px;
    }
}

