@page
@model IndexModel


<!-- Lembrar de colocar a imagem aqui nessa div -->
<div class="container-up">

    <img id="logo" src="~/css/logo_nome_hiper.png" />

</div>


<!-- Total do chat -->
<div class="chat-bar-collapsible">
    <button style="text-align: center;" id="chat-button" type="button" class="collapsible">Pergunte ao HiperChat</button>

    <div class="content">
        <div class="full-chat-block">
            <!-- Container do conteúdo das mensagens -->
            <div class="outer-container">
                <div class="chat-container">
                    <!-- Mensagens -->
                    <div id="chatbox">
                        <h5 id="chat-timestamp"></h5>
                        <p id="botStarterMessage" class="botText"><span>Experimente começar com um Olá!</span></p>
                    </div>

                    <!-- Entrada do usuário-->
                    <div class="chat-bar-input-block">
                        <div id="userInput">
                            <input id="textInput" class="input-box" type="text" name="msg"
                                   placeholder="Aperte 'Enter' para enviar.">
                            <p></p>
                        </div>
                        <!-- icone do envio -->
                        <div class="chat-bar-icons">
                            <i id="chat-icon" style="color: #8a4a88;" class="fa fa-fw fa-send"
                               onclick="sendButton()"></i>
                        </div>
                    </div>

                    <div id="chat-bar-bottom">
                        <p></p>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

<link href="~/css/chat.css" rel="stylesheet" />
<link href="~/css/home.css" rel="stylesheet" />

